/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 설정 */
:root {
  --color-black: #222;
  --color-dark-blue: #033075;
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

/* header 첫번째 부분 */

.header-top {
  display: flex;
  justify-content: space-between;

  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;

  background-color: var(--color-dark-blue);
  color: white;

  font: bold;
}

.header-top .top-logo p {
  padding-left: 47px;
  background: url("../image/eg_logo.png") no-repeat;
}
.header-top .top-menu-pc > ul {
  display: flex;
}
.header-top .top-menu-pc > ul > li:nth-of-type(2)::before,
.header-top .top-menu-pc > ul > li:nth-of-type(3)::before,
.header-top .top-menu-pc > ul > li:nth-of-type(4)::before,
.header-top .top-menu-pc > ul > li:nth-of-type(5)::before,
.header-top .top-menu-pc > ul > li:nth-of-type(6)::before {
  content: "|";
}

/* header 두번째 부분 */
.header-bottom {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.header-bottom ul {
  display: flex;
}
.header-bottom .bottom-menu-pc {
  font-size: 20px;
}
.header-bottom .bottom-menu-pc > ul > li {
  margin-left: 50px;
}
.header-bottom .bottom-menu-mb {
  display: none;
}

/* 모바일 부분 */
@media (max-width: 1100px) {
  .header-top .top-menu-pc {
    display: none;
  }
  .header-bottom {
    width: 100%;
  }
  .header-bottom .bottom-menu-pc {
    display: none;
  }
  .header-bottom .bottom-menu-mb {
    display: block;
    order: 3;
  }
  .header-bottom .bottom-hamburger > ul > li:nth-of-type(1) {
    display: none;
  }
  .header-bottom h1 {
    order: 2;
  }
  .header-bottom .bottom-hamburger {
    order: 1;
  }
}
