:root {
  /*font*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  /*color*/
  --color-gray-50: #fafafa;
  --color-gray-700: #4a5568;
  --color-primary-bg: #57007b;

  /*init setting*/
  color: var(--color-gray-700);
}
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1440px;

  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  /* 
  기존의 코드
  width: 1440px;
  height: 5vh;

  width를 고정값으로 주게 된다면, 유동적으로 버튼이 움직이지 않는다.
  height는 vh가 아닌 픽셀이나 헤더가 가지는 컨텐츠의 양에 따라 바뀌도록 해야 한다.
  */
}
header > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-700);
}
header > nav > ul > li {
  margin-right: 48px;
}
header > nav > ul > li:last-child {
  margin-right: 0;
}
header > button {
  /* px로 고정해도 되는지 고민됩니다. */
  width: 124px;
  height: 42px;

  border-radius: 10px;
  border: none;

  color: var(--color-gray-50);
  background: linear-gradient(to left bottom, #f76680, #57007b);
}

@media (max-width: 1100px) {
  header {
    justify-content: center;
  }
  header > nav,
  header > button {
    display: none;
  }
}

/*main*/
main > section:nth-of-type(1) {
  margin: 148px 104px 104px;
}
