:root {
  /*font*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  --font-h1: 35px;
  --font-h2: 28px;
  --font-bold: 800;
  /*color*/
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-700: #4a5568;
  --color-gray-900: #1a202c;
  --color-primary-bg: #57007b;
  --color-light-bg: #f9f9ff;

  /*init setting*/
  color: var(--color-gray-700);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 40px;
  padding-right: 40px;

  background-color: var(--color-white);

  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  /* 
  기존의 코드
  width: 1440px;
  height: 5vh;

  width를 고정값으로 주게 된다면, 유동적으로 버튼이 움직이지 않는다.
  height는 vh가 아닌 픽셀이나 헤더가 가지는 컨텐츠의 양에 따라 바뀌도록 해야 한다.
  */
}
.header > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header > nav > ul {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-700);
}
.header > nav > ul > li {
  position: relative;
  margin-right: 48px;
}
.header > nav > ul > li:last-child {
  margin-right: 0;
}
.header > nav > ul > li:hover {
  color: var(--color-primary-bg);
}
.header > nav > ul > li:hover::before {
  content: "";
  background-image: url("./image/header-bar.png");
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  display: block;
  width: 50%;
  height: 4px;
  bottom: -10px;
  left: 0;
}
.header > button {
  padding: 14px 25px;
  border-radius: 10px;
  border: none;

  color: var(--color-gray-50);
  background: linear-gradient(to left bottom, #f76680, #57007b);
}

@media (max-width: 1100px) {
  .header {
    justify-content: center;
  }
  .header > nav,
  .header > button {
    display: none;
  }
}

/*main*/
/* section1 */
.main .section1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 148px 104px 104px;

  overflow: hidden;
}
.main .section1 > section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main .section1 h2 {
  width: 50%;
  font-size: var(--font-h1);
  color: linear-gradient(to left bottom, #f76680, #57007b);
}
.main .section1 .black {
  color: var(--color-gray-900);
}
.main .section1 .bold {
  font-weight: var(--font-bold);
}
.main .section1 p {
  margin-top: 28px;
  margin-bottom: 75px;
}
.main .section1 button {
  /* 반응형에서도 크기 변하지 않음 */
  width: 175px;

  padding: 19px 30px;
  border-radius: 10px;
  border: none;

  color: var(--color-gray-50);
  background-color: var(--color-primary-bg);
}
.main .section1 img {
  width: 50%;
}
.main .section1::before {
  position: absolute;
  content: "";
  background: linear-gradient(to left bottom, #f76680, #57007b);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  bottom: -36px;
  left: 400px;
}

/* section2 */
.main .section2 {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-bg);
}
.main .section2 h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-bold);
  color: var(--color-gray-900);
}

/* section3 */
.main .section3 {
  display: flex;
  justify-content: space-between;
}
.main .section3 h2 {
  font-size: var(--font-h2);
}

@media (max-width: 1100px) {
  .main .section1 {
    flex-direction: column;
  }
  .main .section1 section,
  .main .section img {
    width: 80%;
  }
}
